@{
    ViewBag.Title = "ForgotPasswordConfirmation";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 >Password reset link has been sent to your email please check your email</h5>
            </div>
        </div>
    </div>
</div>