
@{
    ViewBag.title= "ResetPasswordConfirmation";
}
<div class="card">
    <div class="card-body">
        <h5 class="text-success">
            Password has been set successfully 
            <a asp-action="Login" asp-controller="Account" >Click here to login</a>
        </h5>
    </div>
</div>
